#save_button {
    display: flex;
    position: absolute;
    right: 2vw;
    width: fit-content;
    align-self: center;

    background-color: #4ee053;
    outline: 0;

    border-radius: 4px;
    max-height: 25px;

}

#save_button:hover > * {
    /* https://isotropic.co/tool/hex-color-to-css-filter/ */
    filter: invert(49%) sepia(82%) saturate(279%) hue-rotate(150deg) brightness(88%) contrast(92%);
}

#save_button > img {
    height: 12.5px;
    width: 12.5px;

    padding: 6.25px;

    /* https://isotropic.co/tool/hex-color-to-css-filter/ */
    filter: invert(94%) sepia(6%) saturate(1100%) hue-rotate(341deg) brightness(109%) contrast(92%);
}

#save_button > div {
    color: beige;
    text-align: center;
    align-self: center;

    padding: 6.25px;
    padding-left: 3px;
}