* {
    margin: 0;
}

.header {
    position: fixed;
    grid-area: header;
    display: flex;

    background-color: #2B2B2B;
    padding: 5px;

    height: 35px;
    line-height: normal;
    z-index: 1;

    outline: 1px solid #666666;
}

.header_img {
    aspect-ratio: 1;

    padding-left: 5px;
}

.header_img > img {
    max-width: 100%;
}

.header_title {
    align-self: center;

    padding-left: 10px;
}

.header_title > h1 {
    font-family: minecraftFont;
    font-size: 20px;
    color: #458EA8;
}