@font-face {
    font-family: minecraftFont;
    src: url('/assets/Minecraft.otf') format('opentype');
}

.full_width {
  width: 100vw;
}

.full_height {
  height: 100vh;
}

/* https://www.w3schools.com/howto/howto_css_disable_text_selection.asp */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.blur {
  position: fixed;
  height: 100%;
  width: 100%;

  backdrop-filter: blur(1px);
}

.rounded_edges {
  border-radius: var(--px);
}

.display_none {
  display: none;
}

.display_inh {
  display: inherit;
}

/* https://stackoverflow.com/questions/21993661/css-auto-hide-elements-after-5-seconds */
.hide_me {
  -moz-animation: cssAnimation 0s linear 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s linear 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s linear 5s forwards;
  /* Opera */
  animation: cssAnimation 0s linear 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    opacity: 0;
  }
}